{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}General Hospital{% endblock %}

{% block page_content %}

<div class="container">
    <div class="col-md-4">
        <ul class="list-group help-group">
            <div class="faq-list list-group nav nav-tabs">
                <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Frequently Asked
                    Questions</a>
                <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i> What is hospital scheduling system(HSC)</a>
                <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i
                        class="mdi mdi-star"></i> How do i start using HSC</a>
                <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i> How to generate a nursing schedule</a>

            </div>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content panels-faq">
            <div class="tab-pane active" id="tab1">
                <div class="panel-group" id="help-accordion-1">
                    <div class="panel panel-default panel-help">
                        <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                            <div class="panel-heading">
                                <h2> What is HSC</h2>
                            </div>
                        </a>
                        <div id="opret-produkt" class="collapse in">
                            <div class="panel-body">
                                <p>
                                    Hospital scheduling system is automated generator of fair and optimum schedule for all
                                    nursing staff of hospital . It uses linear optimization process to generate schedule for
                                    all wards of hopistal based on individual ward/department needs.
                                </p>
                                 <p>
                                    All staff resources which do not meet certification and qualification requirement do not get
                                     scheduled for a particular job and staff on scheduled vacation/leaves is also skipped while
                                     generating weekly schedule.
                                     Current schedule is generated for one week assuming three 8 hours shifts per day
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-help">
                        <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                            <div class="panel-heading">
                                <h2>How do i start using HSC</h2>
                            </div>
                        </a>
                        <div id="rediger-produkt" class="collapse">
                            <div class="panel-body">
                                <p>You can register for free with HSC system but your account is activated by HSC admin. to register
                                    click on login button on top navigation and choose register. fill in resigtration for an you will
                                    be notified vi email that your account is created. Admin is also notified and new registration and
                                    once admin approves registration request</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-help">
                        <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
                            <div class="panel-heading">
                                <h2>How to generate a schedule</h2>
                            </div>
                        </a>
                        <div id="ret-pris" class="collapse">
                            <div class="panel-body">
                                   <p>You have to have Hospital admin previlages to generate a schedule</p>
                                <p>To generate a schedule you first have to login in to admin interface and
                                define staff , staff skills and cretifiactions as well as staff holiday.
                                Wards and wards requirements for each shift has to be defined also
                                    once data has been created , simply select generate scheudle and it will add
                                    new scheulede in database
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="panel-group" id="help-accordion-2">
                    <div class="panel panel-default panel-help">
                        <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
                            <div class="panel-heading">
                                <h2>How do is start using HSC</h2>
                            </div>
                        </a>
                        <div id="help-three" class="collapse in">
                            <div class="panel-body">
                                  <p>
                                    Hospital scheduling system is automated generator of fair and optimum schedule for all
                                      nursing staff of hospital.</p>
                                    <p>
                                      It uses linear optimization process to generate schedule for
                                    all wards of hopistal based on individual ward/department needs.
                                </p>
                                 <p>
                                    All staff resources which do not meet certification and qualification requirement do not get
                                     scheduled for a particular job and staff on scheduled vacation/leaves is also skipped while
                                     generating weekly schedule.
                                     Current schedule is generated for one week assuming three 8 hours shifts per day
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="panel-group" id="help-accordion-3">
                    <div class="panel panel-default panel-help">
                        <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-3">
                            <div class="panel-heading">
                                <h2>How do is start using HSC</h2>
                            </div>
                        </a>
                        <div id="help-three" class="collapse in">
                            <div class="panel-body">
                                <p> You can register for free with HSC system but your account is activated by HSC admin. to register
                                    click on login button on top navigation and choose register. fill in resigtration for an you will
                                    be notified vi email that your account is created. Admin is also notified and new registration and
                                    once admin approves registration request</p>
                                <p>once registered you can view generated scheule and download them as pdf files and email/share
                                 generated schedule
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="panel-group" id="help-accordion-4">
                    <div class="panel panel-default panel-help">
                        <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-4">
                            <div class="panel-heading">
                                <h2>How to generate a schedule </h2>
                            </div>
                        </a>
                        <div id="help-four" class="collapse in">
                            <div class="panel-body">
                                <p>You have to have Hospital admin previlages to generate a schedule</p>
                                <p>To generate a schedule you first have to login in to admin interface and
                                define staff , staff skills and cretifiactions as well as staff holiday.
                                Wards and wards requirements for each shift has to be defined also
                                    once data has been created , simply select generate scheudle and it will add
                                    new scheulede in database
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>


{% endblock %}


